<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedLeaf</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <style>
        #video-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            overflow: hidden;
        }

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
</head>

<body>
    <!-- <div id="video-container">
        <video autoplay muted loop>
            <source src="{{ url_for('static', filename='back-vid.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div> -->

    <ul class="nav-links">
        <div class="logo-main">
            <img src="{{ url_for('static', filename='favicon.ico') }}" alt="logo">
            <h1 class="logo">MedLeaf</h1>
        </div>
        <li class="forward"><a href="/">Home</a></li>
        <li class="forward"><a href="/identify">Identify Leaf</a></li>
        <li class="forward"><a href="/search">Search Uses</a></li>
        <li><a href="/feedback">Feedback</a></li>

    </ul>

    <div id="container" class="container">

        <form method="post" action="/search" class="main-search">
            <div class="search-main">
                <p class="search-heading">Search Uses by Plant Name</p><br>
                <label for="plantName" id="plantname">Enter Plant Name:</label> <br> <br>
                <input type="text" id="plantName" name="plantName" style="height: 30px; width: 60%;" required> <br><br>
                <button type="submit" id="search-btn">Search</button><br><br>
            </div>
            <div class="img-search">
                <img src="{{ url_for('static', filename='search-img.jpg') }}" alt="Uploaded Image" id="search-img">

            </div>
        </form>
        <div class="search-res">
            {% if uses %}
            <div id="x">
                <p><b>Plant Name:</b> {{ plant_name }}</p>
                <p><b>Botanical Name:</b> {{ uses['Botanical Name'] }}</p>
                <p><b>Common Names:</b> {{ ", ".join(uses['Common Names']) }}</p>
                <p><b>Introduction:</b> {{ uses['Introduction'] }}</p>

                <b>Uses:</b>
                <ul>
                    {% for use in uses['Uses'] %}
                    <li>{{ use }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>


</body>

</html>